@model ICollection<RetailRocket.StaffDirectory.Entity.Staff>
@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
</div>

<div class="row">
    <div class="form-group col-md-3">
        <div class="input-group">
            <input type="text" id="firstNameInput" class="form-control" placeholder="Имя">
            <input type="text" id="lastNameInput" class="form-control" placeholder="Фамилия">
            <input type="text" id="middleNameInput" class="form-control" placeholder="Отчество">
            <select class="form-control" id="departmentInput">
            </select>
            <div class="input-group date" id="datetimepicker">
                <input type="text" class="form-control" id="birthdayInput" placeholder="Дата рождения"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="row"><h2> </h2></div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="searchButton" class="btn btn-success">Поиск</button>
            </div>
        </div>
        </div>
    <div class="col-md-9">
        <p>
            <button type="button" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-default">Редактировать</button>
            <button type="button" class="btn btn-default">Удалить</button>
        </p>
        <table id="staffTable" class="table table-striped">
            <thead>
            <tr>
                <th data-field="ID">ID</th>
                <th data-field="FirstName">Имя</th>
                <th data-field="LastName">Фамилия</th>
                <th data-field="MiddleName">Отчество</th>
                <th data-field="Birthday">Дата рождения</th>
                <th data-field="DepartmentName">Департамент</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/staffApp")

